@import url(font.css);

body {
    margin: 0;
}

header {
    font-family: "DM Sans";
    display: flex;
    gap: 18vh;
}

h1 {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

section {
    padding: 2vh;
}

.nav {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    list-style: none;
    margin-left: -100%;
}

#section-1 {
    background-color: black;
}